.filled{
    display: flex;
    justify-content: center;
    align-items: center; 
    width:120px;
    height: 40px;
    background-color: white;
    color: black;
    font-family: "lexend";
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px transparent;
    animation: fadeInUp 1.2s;
    animation-delay: 4.2s;
    animation-fill-mode: backwards;
    transition: ease-in 0.3s;
    &:hover{
        transform: scale(1.05);
    }
}

.filled-header{
    display: flex;
    justify-content: center;
    align-items: center; 
    width:fit-content;
    margin-right: 20px;
    padding: 10px 20px;
    height: fit-content;
    background: var(--bg-color);
    color:var(--text-color);
    font-family: "lexend",serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    border-radius: 50px;
    position: relative;
    &:after, &:before{
        z-index: -1;
        content:"";
        position: absolute;
        border-radius: 50px;
        width: 100%;
        height: 100%;
        top: 50%;
        left:50%;
        translate: -50% -50%;
        padding: 2px;
        background-image:conic-gradient(from var(--angle), #df23f8,#8a10fd,#0547fc,#df23f8); 
        animation: spinBorder 3s linear infinite;
    }
    &::before{
        filter: blur(9px);
    }
    &::after{
        filter: blur(2px);
    }
}


@property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
}
.outline{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    width:180px;
    background-color: none;
    color: var(--text-color-purpleDark3);
    font-family: "lexend";
    font-weight: 400;
    border: solid 1px var(--text-color-purpleDark3);
    text-decoration: none;
    border-radius: 4.8px;
    animation: zoomInUp 1s;
    animation-delay: 4.3s;
    animation-fill-mode: backwards;
    position: relative;
    transition:ease-out 0.3s;
    
    &:hover{
        box-shadow:0px 0px 8px 1px var(--text-color-purpleDark4);
        transition: all ease-in-out 0.6s;
        background-color: white;
        color: black;
        transform: scale(1.05);
    }
}
@keyframes spinBorder{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}