.hero{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: -70px;
}
.color{
    margin-bottom: -50px;
}
p.color span{
    background: linear-gradient(to right,rgb(106, 109, 255), #c084fc, #f472b6);;
    background-clip: text;
    color: transparent;
}
.text{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
.hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 0;
}
.hero-bg img {
    overflow: visible;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(80%);
    animation: ribbon 3s ease-in-out infinite;
    opacity: 50%;
    position: absolute;
}
.hero-bg .reverse {
    overflow: visible;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(80%);
    animation: ribbon-reverse 7s ease-in-out infinite;
    opacity: 50%;
}


h1{
    font-family: 'lexend',serif;
    width: 100%;
    font-weight: 500;
    font-size: 40px;
    position: relative;
}

.underwords{
    font-size: 15px;
    font-family: 'playfair display',serif;
    font-weight: 500;
    animation: fadeIn 3s;
    animation-delay: 5s;
    animation-fill-mode: backwards;
    letter-spacing: 1.5px;
}



.intro{
    display: flex;
    flex-direction:column;
    justify-content: start;
}
.buttons{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap:30px;
    margin-left: 10px;
}
.fade-arrow{
    color: white;
    font-size: 30px;
    position: absolute;
    /* display: none; */
    width: 40px;
    bottom: 20px;
    animation: fadeIn backwards 4.5s 3s infinite;
    filter: drop-shadow(0 0 4px white);
}
.down-arrow{
    width: 40px;
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    animation: bounce 2s infinite;
    filter: drop-shadow(0 0 4px white);
}
@keyframes ribbon {
    0%, 100% {
     transform: scaleY(1.1) translateY(5px);
     opacity:0.2;
     z-index: 0;
    }
    25% {
        transform: scaleY(1.08) translateY(-5px);
        opacity:0.2;
        z-index: 0;
    }
    50% {
        transform: scaleY(1.12) translateY(-10px);
        opacity:0.25;
        z-index: 0;
    }
}
@keyframes ribbon-reverse {
    0%, 100% {
        transform: scaleY(1.1) translateY(5px);
        opacity:0.2;
        z-index: 0;
    }
    25% {
        transform: scaleY(1.05) translateY(0px);
        opacity:0.2;
        z-index: 0;
    }
    50% {
        transform: scaleY(1.18) translateY(0px);
        opacity:0.25;
        z-index: 0;
  }
}