.hero{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-top: -70px;
}
.text{
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
}
.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  backdrop-filter: blur(10px);
  filter: brightness(80%);
  animation: ribbon 8s ease-in-out infinite;
  opacity: 50%;
  position: absolute;
}
.hero-bg .reverse {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  backdrop-filter: blur(10px);
  filter: brightness(80%);
  animation: ribbon-reverse 8s ease-in-out infinite;
  opacity: 50%;
}


h1{
    font-family: 'playfair display',serif;
    font-weight: 500;
    font-size: 40px;
    position: relative;
}

.image-containter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
h2{
    font-size: 18px;
    font-family: 'lexend';
    font-weight: 500;
    animation: fadeIn 3s;
    animation-delay: 5s;
    animation-fill-mode: backwards;
}

.image{
    width: 80%;
    border-radius: 50%;
    animation:fadeIn 2s;
    animation-delay: 4s;
    animation-fill-mode: backwards;
    transition: ease-in-out 0.5s;
    z-index: 0;
    &:hover{
        transform: scale(1.1);
    }
}
.intro{
    display: flex;
    flex-direction:column;
    justify-content: start;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap:30px
}

@keyframes ribbon {
    0%, 100% {
     transform: scale(1.1) translateY(5px);
     filter: brightness(40%) blur(0px);
     z-index: 0;
    }
    25% {
     transform: scale(1.08) translateY(-5px);
     filter: brightness(40%) blur(1px);
     z-index: 0;
    }
    50% {
     transform: scale(1.12) translateY(-10px);
     filter: brightness(45%) blur(2px);
     z-index: 0;
    }
}
@keyframes ribbon-reverse {
   0%, 100% {
    transform: scale(1.1) translateY(5px);
    filter: brightness(40%) blur(0px);
    z-index: 0;
  }
  25% {
    transform: scale(1.05) translateY(0px);
    filter: brightness(40%) blur(1px);
    z-index: 0;
  }
  50% {
    transform: scale(1.15) translateY(0px);
    filter: brightness(45%) blur(2px);
    z-index: 0;
  }
}