.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: -30px;
    overflow: visible;
    z-index: 0;
}
.color{
    margin-bottom: -50px;
}
p.color span{
    background: linear-gradient(to right,rgb(106, 109, 255), #c084fc, #f472b6);;
    background-clip: text;
    color: transparent;
}
p.color.light span{
    background: linear-gradient(to right,rgb(41, 44, 185), #712db4, #a02765);;
    background-clip: text;
    color: transparent;
}


    .text{
    z-index: 1;
    /* filter: drop-shadow(0px 0px 1px rgba(37, 2, 119, 0.8)); */
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    &:after{
        display: none;
    }
    &.light{
        color: var(--text-color-purpleDark3);
        z-index: -1;
        /* &::after{
            position: absolute;
            width: 60vh;
            height: 50vh;
            display: block;
            content: "";
            top: 50;
            left: 50;
            filter: blur(10px);
            z-index: -1;
            animation: fadeIn 0.5s  backwards;
            background-image: radial-gradient(circle, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0.033) 100%);
        } */
    }
}

.hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 0;
    .light{
        width: 20%;
        height: 50%;
        top: 30%;
        left: 40%;
    }
}

.cloud{
    overflow: visible;
    width: 100%;
    height:100vh;
    object-fit: cover; 
    filter: brightness(100%);
    opacity: var(--op);
    position: absolute;
}

.hero-bg img{
overflow: visible;
width: 100%;
height:100%;
object-fit: cover; 
filter: brightness(100%);
animation: ribbon 3s ease-in-out infinite;
opacity: var(--op);
position: absolute;
margin-top: -100px;
}

p{
    font-size: 50px;
   }

h1{
    font-family: 'lexend',serif;
    width: 100%;
    font-weight: 500;
    font-size: 40px;
    position: relative;
}

.underwords{
    font-size: 15px;
    font-family: 'lexend',serif;
    font-weight: 200;
    animation: fadeIn 3s;
    animation-delay: 3.8s;
    animation-fill-mode: backwards;
    letter-spacing: 1.5px;
}
.underwords2{
    font-size: 15px;
    font-family: 'lexend',serif;
    font-weight: 200;
    animation: fadeIn 3s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    letter-spacing: 1.5px;
}

.intro{
    display: flex;
    flex-direction:column;
    justify-content: start;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
}

.fade-arrow{
    color: var(--text-color-purple);
    font-size: 30px;
    position: absolute;
    width: 40px;
    bottom: 20px;
    animation: fadeIn backwards 3.5s 3s;
    filter: drop-shadow(0 0 4px white);
}

.down-arrow{
    width: 40px;
    filter: drop-shadow(2px 2px 8px var(--text-color-purpleDark3));
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    animation-name: fadeOut;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 0% cover 70%; 
}

.socials{
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap:15px;
    position: relative;
    animation: zoomInUp backwards 2s 4.5s;
}

@keyframes ribbon {
    0%, 100% {
     transform: scaleY(1.1) translateY(5px);
     opacity:var(--op2);
     z-index: 0;
    }
    25% {
        transform: scaleY(1.08) translateY(-5px);
        opacity:var(--op2);
        z-index: 0;
    }
    50% {
        transform: scaleY(1.12) translateY(-10px);
        opacity:var(--op2);
        z-index: 0;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        }
}