.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: -30px;
    overflow: visible;
    z-index: 0;
}
.color{
    margin-bottom: -50px;
}


.NameText{
    display: inline-block;
    opacity: 1;
    min-width: 10px;
    font-family: "lexend";
    font-weight: 200;
    font-size: 80px;
}
    .text{
    z-index: 1;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    &:after{
        display: none;
    }
    &.light{
        color: var(--text-color-purpleDark3);
        z-index: 2;
    }
}

.hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 0;
    .light{
        width: 20%;
        height: 50%;
        top: 30%;
        left: 40%;
    }
}



.hero-bg img{
overflow: visible;
width: 100%;
height:100%;
object-fit: cover; 
filter: brightness(100%);
animation: ribbon 3s ease-in-out infinite;
opacity: var(--op);
position: absolute;
margin-top: -100px;
}

p{
    font-size: 50px;
   }

h1{
    font-family: 'lexend',serif;
    width: 100%;
    font-weight: 500;
    font-size: 40px;
    position: relative;
}

.underwords{
    font-size: 15px;
    font-family: 'lexend',serif;
    font-weight: 200;
    animation: fadeIn 3s;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
    letter-spacing: 1.5px;
}
.underwords2{
    font-size: 15px;
    font-family: 'lexend',serif;
    font-weight: 200;
    animation: fadeIn 3s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    letter-spacing: 1.5px;
}

.intro{
    display: flex;
    flex-direction:column;
    justify-content: start;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
}

.fade-arrow{
    color: var(--text-color-purple);
    font-size: 30px;
    position: absolute;
    width: 40px;
    bottom: 20px;
    animation: fadeIn backwards 3.5s 3s;
    filter: drop-shadow(0 0 4px white);
    margin-bottom: 20px;
}

.down-arrow{
    width: 40px;
    filter: drop-shadow(2px 2px 8px var(--text-color-purpleDark3));
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    animation: bounce 3s infinite;
    margin-bottom: 20px;
}

.socials{
    width: fit-content;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap:15px;
    position: relative;
    animation: zoomInUp backwards 2s;
    animation-delay: 1.9s;
    background-color: #fff;
}



@keyframes ribbon {
    0%, 100% {
     transform: scaleY(1.1) translateY(5px);
     opacity:var(--op2);
     z-index: 0;
    }
    25% {
        transform: scaleY(1.08) translateY(-5px);
        opacity:var(--op2);
        z-index: 0;
    }
    50% {
        transform: scaleY(1.12) translateY(-10px);
        opacity:var(--op2);
        z-index: 0;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        }
}

@media screen and (max-width:1200px) {
    .hero{
        height: 80vh;
    }
    .text{
        font-size: 12px;
    }
    .underwords2{
        font-size: 12px;
    }
    .underwords{
        font-size: 10px;
    }
    .NameText{
        font-size: 50px;
    }
    .hero{
        overflow: hidden;
    }
    .social-icon{
        font-size: 12px;
        height: 10px;
        width: 10px;
    }
}