.about-me{
width:100%;
height: fit-content;
display: flex;
flex-direction: row;
align-items:center;
margin: 380px 0px 40px 0px;
gap:80px;

}

#about-me{
    scroll-margin-top: 150px;
    transition: all 10s ; 
}

.left-text{
display: block;
width:100%;
margin-left: 80px;
position: relative;
}

// .right-image{
//     width:50%;
//     display:flex;
//     align-items: end;
// }

.left-text h1 {
    color:rgba(255, 255, 255, 0.3);
    font-family:"playfair";
    width: fit-content;
    font-size: 190px;
    opacity: 1;
    font-weight: 700;
    position: absolute;
    top: 70%;
    left: -16%;
    transform: rotate(270deg);
    animation: 
    slideIn linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 100%; 
}
.left-text p{
    animation: slideInUp  linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 70%; 
    margin-left: 130px;
    margin-right: 140px;
    color:white;
    // opacity: 0;
    font-family: 'lexend';
    font-size: 18px;
    font-weight: 200;
}

@keyframes slideIn {
    0%{
        opacity: 0;
        // display: none;
        // transform: translateY(-140px) 
    }
    60%{
        opacity: 1;
        // transform: translateY(0)
    }
    100%{
        opacity:0;
    }
}

@keyframes slideInUp {
    0%{
        // opacity: 0;
        transform: scale(0.93)
    }
 
    60%{
        // opacity: 1;
        transform:  scale(1)
    }
    // 100%{
    //     // opacity: 0;
    //    transform:scale(0.9)
    // }
}

@media screen and (max-width:1200px) {
    .about-me{        
    }
    .left-text{
        width: 100%;
        margin-right: 80px;
    }
    .right-image{
        display: none;
    }
    .left-text h1 {
    font-size: 30px;
}
    .left-text p {
    font-size: 18px;
}
}