
    .about-me{
    width:60%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: 100px auto 30px auto;
    position: relative;
    gap: 30px;
    }
    b{
        background: linear-gradient(to right,#e258f4,#a051e9,#7e9ff7,#747fff);
        clip-path: text;
        background-clip: text;
        color: transparent;
    }
    #about-me{
        scroll-margin-top: 150px;
        transition: all 10s ; 
    }

    .left-text{    
    display: block;
    width: 50%;
    height: 50%;
    }

    .left-text p{
        animation-name: slideInUp;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: entry 0% cover 70%; 
        color:var(--text-color-purpleDark3);
        font-family: 'lexend';
        font-size: 19px;
        font-weight: 300;
    }

    .right-div{
        animation-name: fadeIn;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: entry 0% cover 60%; 
    }

    @keyframes slideIn {
        0%{
            opacity: 0;
            transform: rotate(270deg) translateY(0%) translateX(50%) 
        }


        80%{
            opacity:0;
            transform: rotate(270deg) translateY(0%) translateX(0%) ; 
        }
    }

    @keyframes slideInUp {
        0%{
            opacity: 0;
            transform: scale(0.8)
        }
        60%{
            opacity: 1;
            transform:  scale(1)
        }
    }

    @media screen and (max-width:1200px) {
        .about-me{
            width: 90%;
            flex-direction: column;
            margin-bottom: 10px;
            margin-top: 20px;
        }
        .left-text{
            width: 100%;
            text-align: center;
        }

    .left-text h1 {
        top: 0;
        font-size: 120px;
    }
        .right-image{
            display: none;
        }
        .left-text h1 {
        font-size: 30px;
    }
        .left-text p {
        font-size: 15px;
    }
    }

