
.about-me{
width:60%;
height: fit-content;
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
margin: 200px auto 30px auto;
position: relative;
  
&:after{
    // display:xx/;
    z-index: -1;
    content: "About Me";
    color:rgba(153, 152, 152, 0.48);
    font-family:"lexend";
    width: fit-content;
    font-size: 190px;
    opacity: 1;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 0;
    translate: -58% 100% ;
    transform: rotate(270deg);
    animation: slideIn 1s both;
    animation-timeline:view();
    animation-range: entry 0% cover 50%;
}

}

#about-me{
    scroll-margin-top: 150px;
    transition: all 10s ; 
}

.left-text{    
display: block;
width:100%;
height: 50%;
}

.left-text p{
    animation: slideInUp  linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 70%; 
    color:var(--text-color-purpleDark3);
    font-family: 'lexend';
    font-size: 18px;
    font-weight: 200;
}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: rotate(270deg) translateY(-50%) translateX(0%) 
    }


    80%{
        opacity:1;
        transform: rotate(270deg) translateY(0%) translateX(0%) ; 
    }
}

@keyframes slideInUp {
    0%{
        opacity: 0;
        transform: scale(0.93)
    }
    60%{
        opacity: 1;
        transform:  scale(1)
    }
}

@media screen and (max-width:1200px) {
    .about-me{
        width: 50%;
    }
//     @keyframes slideIn {
//     0%{
//         opacity: 0;
//         transform: rotate(270deg) translateY(-50%) translateX(-55%) 
//     }
//     40%{
//         transform: rotate(270deg) translateY(-20%) translateX(-55%) ; 
//         opacity:1;
//     }
   
//     70%{
//         opacity:0.6;
//         transform: rotate(270deg) translateY(-20%) translateX(-55%) ; 
//     }

//     80%{
//         opacity:0;
//         transform: rotate(270deg) translateY(-20%) translateX(-55%) ; 
//     }
// }
    .about-me:after{
        color: rgb(255, 255, 255);
        rotate:-270deg;
        top:0;        
        left: 50%;
        width: 100%;
        translate: 6% -40% ;
        font-size: 100px;
        opacity: 1;
        animation-range: entry 0% cover 60%;
    }
   .left-text h1 {
    top: 0;
    font-size: 120px;
   }
    .right-image{
        display: none;
    }
    .left-text h1 {
    font-size: 30px;
}
    .left-text p {
    font-size: 15px;
}
}