
    .about-me{
    width:55%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin: 100px auto 30px auto;
    position: relative;
    gap: 30px;
    /* &:after{
        z-index: -1;
        content: "About Me";
        color:rgba(153, 152, 152, 0.48);
        font-family:"lexend";
        width: fit-content;
        font-size: 190px;
        opacity: 0;
        font-weight: 700;
        position: absolute;
        top: 10%;
        left: 0;
        translate: -58% 100% ;
        transform: rotate(270deg);
        animation-name: slideIn;
        animation-duration: 1s;
        animation-fill-mode: backwards;
        animation-timeline: view();
        animation-range: entry 0% cover 50% exit 100%;
    } */

    }
    b{
        background: linear-gradient(to right,#e258f4,#a051e9,#7e9ff7,#747fff);
        clip-path: text;
        background-clip: text;
        color: transparent;
    }
    #about-me{
        scroll-margin-top: 150px;
        transition: all 10s ; 
    }

    .left-text{    
    display: block;
    width: 50%;
    height: 50%;
    }

    .left-text p{
        animation-name: slideInUp;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: entry 0% cover 70%; 
        color:var(--text-color-purpleDark3);
        font-family: 'lexend';
        font-size: 19px;
        font-weight: 200;
    }

    .right-div{
        animation-name: fadeIn;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: entry 0% cover 60%; 
    }

    @keyframes slideIn {
        0%{
            opacity: 0;
            transform: rotate(270deg) translateY(0%) translateX(50%) 
        }


        80%{
            opacity:0;
            transform: rotate(270deg) translateY(0%) translateX(0%) ; 
        }
    }

    @keyframes slideInUp {
        0%{
            opacity: 0;
            transform: scale(0.8)
        }
        60%{
            opacity: 1;
            transform:  scale(1)
        }
    }

    @media screen and (max-width:1200px) {
        .about-me{
            width: 50%;
        }

        .about-me:after{
            color: rgb(255, 255, 255);
            rotate:-270deg;
            top:0;        
            left: 50%;
            width: 100%;
            translate: 6% -40% ;
            font-size: 100px;
            opacity: 1;
            animation-range: entry 0% cover 60%;
        }
    .left-text h1 {
        top: 0;
        font-size: 120px;
    }
        .right-image{
            display: none;
        }
        .left-text h1 {
        font-size: 30px;
    }
        .left-text p {
        font-size: 15px;
    }
    }

