.headerButton{
    background-color: none;
    width: fit-content;
    padding: 0px 10px;
    cursor: pointer;
    /* filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8)); */
    color: var(--text-color-purple);
    text-decoration: none;
    border: solid transparent 2px;
    font-family: 'lexend', serif;
    position:relative;
    justify-content: center;
    display: flex;
}
.headerButton:hover{
    transform: scale(1.05);
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #c084fc, #f472b6);
    background-clip: text;
    color: transparent;
}
