.headerButton{
    background-color: none;
    width: fit-content;
    padding: 0px 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: solid transparent 2px;
    /* font-family: 'playfair display', serif; */
    font-family: 'lexend', serif;
    position:relative;
    justify-content: center;
    display: flex;
    transition:  ease-in 0.5s;
    &::after{
        content:"";
        position: absolute;
        bottom:0;left:10%;
        height: 2px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        width: 0%;
        transition:  ease-in 0.5s;
        
    }
      
    &:hover{
        transform: scale(1.05);
        color: rgb(255, 255, 255);
        &::after{
        width:80%;
        border-radius: 50px;
        box-shadow: 0 0 16px 1px rgb(255, 252, 232);
        }
    }
}