.text-animate{
    display: inline-block;
    opacity: 1;
    animation: fadeInUp 2s ;
    animation-fill-mode: backwards;
    min-width: 10px;
}
.text-animate-fly{
    display: inline-block;
    opacity: 1;
    animation: fadeIn 2.5s ;
    animation-fill-mode: backwards;
    min-width: 10px;
    font-family: "lexend";
    font-weight: 300;
    font-size: 80px;
}
.text-animate-hover{
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    &:hover{
        animation: heartBeat 1s infinite;
            
    }
}

@for $i from 1 through 50{
    .text-animate._#{$i} {
        animation-delay: #{calc($i/10)}s;
    }
    .text-animate-fly._#{$i} {
        animation-delay: #{calc($i/10)}s;
    }
}
@keyframes fade {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}