.skills{
    width: 100%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 100px;
    // z-index: 1;
    }

#mySkills{
    scroll-margin-top: 150px;
    transition: all 10s ; 
}
.section_title{
    width: 100%;
    display: grid;
    // place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    // margin-top: 40px;
}


@media screen and (max-width:1200px){
    .section_title{
        display: flex;
        flex-direction: column;
        
    }
}