.skills{
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 100px;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
    }

#mySkills{
    scroll-margin-top: 150px;
    transition: all 10s ; 
}
.section_title{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}


@media screen and (max-width:1200px){
    .section_title{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
}

