
/* .experience-block{
    display: flex;
    flex-direction: column;
    // height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
} */
.experience{
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: start;
  margin: 50px auto 100px auto;
  width: 55%;
  gap:20px;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-fill-mode: backwards;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
  /* overflow: visible; */
  
}

button{
  cursor: pointer;
}
#experience{
  scroll-margin-top: 150px;
}
.toggle{
  width: 100%;
  height: 100px;
  max-height: 40px;
  background-color: var(--bg-color-2);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  backdrop-filter:blur(6px); 
  box-shadow: inset 0 0 5px 6px 1px rgba(254, 239, 255, 0.255); 
  /* box-shadow: 2px 2px 4px 0px rgba(202, 75, 248, 0.495); */
  /* align-content: center; */
}
.toggleButtonOn{
  width: 49%;
  height: 80%;
  border-radius: 10px;
  border: none;
  background-color: rgba(50, 1, 173, 0);
  background-image: linear-gradient(to right, #df23f80e,#8a10fd1b,#0547fc1f,#df23f80c);
  color: var(--pink-200);
  backdrop-filter:blur(160px); 
  font-family: "lexend";
  font-weight: 500;
  /* box-shadow: inset 0 0 40px 1px rgba(50, 1, 173, 0.246); */
  animation: slideRight 0.6s forwards;
}
.toggleButtonOn.education{
  
  /* box-shadow: inset 0 0 40px 1px rgba(50, 1, 173, 0.246); */
  animation: slideLeft 0.6s forwards;
}
.toggleButtonOff{
  opacity: 0.3;
  width: 49.8%;
    height: 80%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-family: "lexend";
    font-weight: 200;
  }
  
  .box {
    max-height: 90%;
    /* border: rgba(251, 5, 255, 0.259) 1px solid; */
    border-radius: 20px;
    /* background-color: black; */
    overflow-y: auto;
    padding: 30px 20px;
    /* animation: fadeIn 2s both; */
    scrollbar-width: none;
    scrollbar-color:rgba(101, 52, 151, 0.897)  rgba(175, 188, 254, 0.795);
    position: relative;      
}

/* Timeline */
.timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  position: relative;
  z-index: 0;
  
}
.timeline::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    left: 20px;
    top: -30px;
    bottom: -30px; 
    width: 3px;
    background-image: var(--timeline);
    z-index: -1;
    
  }

.timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  

}
.timeline-item .logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 20px;
    object-fit: contain;
    background-color: white;
    z-index: 3;
    border: rgb(55, 23, 185) solid 1px;
    animation: fadeIn 0.6s ease-in-out;
  }

.timeline-item .details {
    color: var(--text-color-purpleDark3);
    font-size: 14px;
    font-family: "Lexend", sans-serif;
    animation: fadeIn 0.6s ease-in-out;

    
}
.timeline-item .details .date {
      font-size: 0.85rem;
      color: var(--text-color-purpleDark3);
      margin-bottom: 0px;
    }
.timeline-item .details .stack{
      font-family: "lexend";
      font-weight: 600;
      font-size: 0.95rem;
    }

.timeline-item .details h3 {
      font-size: 1.1rem;
      color: var(--text-color-purpleDark3);
      margin-bottom: 2px;
    }

.timeline-item .details .company {
      font-size: 0.95rem;
      color: var(--text-color-purpleDark3);
      margin-bottom: 6px;
    }
.timeline-item .details .degree {
      font-size: 0.95rem;
      color: var(--text-color-purpleDark3);
      margin-bottom: 6px;
    }

.timeline-item .details ul {
      list-style-type: disc;
      padding-left: 20px;

    }
.timeline-item .details ul li {
        color: var(--text-color-purpleDark3);
        line-height: 1.5;
        margin-bottom: 4px;
      }

/* Animations */
.fade {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
    0%{
        font-size: 0px;
        transform: translateX(-100%);
    }
    70%{
        font-size: 0;
        transform: translateX(0px);
    }
    100%{
        font-size: 12px;
    }   
}
@keyframes slideRight {
    0%{
        font-size: 0px;
        transform: translateX(100%);
    }
    70%{
        font-size: 0;
        transform: translateX(0px);
    }
    100%{
        font-size: 12px;
    }   
}

