/* Default theme (light mode) */
:root {
  --bg-color: #ffffff;
  --text-color: #d6adad;
  --accent: #b87aff;
  --card-bg: #f7f7f7;
}

/* Dark mode overrides */
body.dark {
  --bg-color: #000000;
  --bg-color-inverse: white;
  --bg-color2: #0e0e0e;
  --text-color: #f5f5f5;
  --text-color2: #000000;
  --text-color-inverse: rgb(17, 17, 17);
  --text-color-inverse2: rgb(0, 0, 0);
  --text-color-purple: white;
  --text-color-purpleDark: white;
  --text-color-purpleDark2: white;
  --text-color-purpleDark3: white;
  --text-color-purpleDark4: rgb(235, 169, 255);
  --accent: #ff6ae0;
  --shadow:rgba(255, 255, 255, 0.12);
  --card-inner: linear-gradient(155deg,rgba(2, 0, 36, 0.09) 0%, rgba(9, 9, 121, 0.09) 20%, rgba(4, 17, 201, 0.214) 64%, rgba(60, 0, 255, 0.09) 100%);
  --card-bg: #1a1a1a;
  --card-icon:rgba(4, 17, 201, 0.5);
  --card-title:rgba(4, 129, 201, 1);
  --card-after: rgba(84, 84, 84, 0.268);
  --card-border:rgba(255, 255, 255, 0.153); 
  --boder: white;
  --timeline: linear-gradient(to bottom, #df23f863,#8a10fd6b,#0547fc7a,#df23f86b);
  --bg-color-2:rgba(243, 243, 243, 0.083);
  --op: 80%;
  --op2: 0.45;
  --pink-200:white;
  --side-text: rgba(153, 152, 152, 0.48);
  --gpt-button-bg:rgba(5, 0, 8, 0.918);
  --gpt-button-bg-hover:rgb(1, 0, 3);
  --gpt-bg: rgb(0, 0, 0);
  --gpt-border: rgba(195, 111, 237, 0.287);
  --prompt-border: rgba(255, 255, 255, 0.596);
  --input-bg:rgba(3, 3, 3, 0.219);
  --placeholder-text: rgba(255, 255, 255, 0.822);
  --delete: rgba(109, 2, 2, 0.822);
}

/* You can add more theme variants later easily */
body.light {
  --bg-color: #f6f1ea;
  --bg-color-inverse: black;
  --bg-color2:rgba(136, 123, 255, 0.037);
  --text-color: #000000;
  --text-color2:white;
  --text-color-inverse: white;
  --text-color-inverse2: rgb(236, 236, 236);
  --text-color-purple: #060f99;
  --text-color-purpleDark: #28308bce;
  --text-color-purpleDark2: #585e9af7;
  --text-color-purpleDark3: #2f3f8efd;
  --text-color-purpleDark4: #2f3f8efd;
  --accent: #d78c5c;
  --card-bg: #f7f0f9;
  --card-border:#6379f3; 
  --card-title:#35288bce;
  --card-icon:rgba(92, 92, 180, 0.4);
  --card-inner: transparent;
  --card-after: rgba(79, 110, 153, 0.268);
  --timeline: linear-gradient(to bottom, #df23f863,#3823f87e);
  --shadow:rgba(185, 185, 185, 0.449);
  --boder: black;
  --bg-color-2:rgba(136, 134, 182, 0.278);
  --op: 80%;
  --op2: 1;
  --pink-200:rgb(64, 40, 250);
  --side-text: rgba(117, 112, 149, 0.48);
  --gpt-button-bg:rgba(255, 255, 255, 0.918);
  --gpt-button-bg-hover:rgba(82, 115, 249, 0.918);
  --gpt-bg: rgb(254, 254, 254);
  --gpt-border: rgba(9, 44, 245, 0.216);
  --prompt-border: rgba(106, 113, 255, 0.596);
  --input-bg:rgba(255, 255, 255, 0.219);
  --placeholder-text: rgba(0, 0, 0, 0.822);
  --delete: rgba(253, 174, 174, 0.822);
}
