.Head{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 20px; 
    z-index: 1;
    animation: fadeInDown 1.3s;
}


.Header{
    background-color: rgba(255, 255, 255, 0.1);
    border:1px solid rgba(255, 255, 255, 0.10);
    box-shadow:0 4px 6px -4px rgba(0, 0, 0, 0.05), 0 10px 15px -3px rgba(0, 0, 0, 0.05);
    backdrop-filter:blur(6px);    
    position: sticky;
    border-radius: 9999px;
    width: 80%;
    height:60px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    z-index: 1;
    &.light{
        background-color: rgba(115, 137, 225, 0.13);
        border:1px solid rgba(77, 107, 227, 0.2);
        
    }
}
.Logo{
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo-image{
    height: 120px;
    width: 120px;
    margin-left: 0px;
    border-radius: 50%;
    object-fit: cover;
    &.light{
    -webkit-filter: drop-shadow(1px 1px 0 var(--text-color-purple))
                    drop-shadow(-1px -1px 0 var(--text-color-purple));
    filter: drop-shadow(1px 1px 0 var(--text-color-purple)) 
            drop-shadow(-1px -1px 0 var(--text-color-purple));}
}
.middle-btns{
    width:fit-content;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
}
.toggleTheme{
    background-color: none;
    background: none;
    border: none;
    margin: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;

}
.right-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    height: 100%;
    margin: 0;
}

.sun{
    animation: pulse 2s infinite;
    transition: all 0.6s ease-in-out;
    height: 13px;
    width: 13px;
    margin-top: 1px;
    -webkit-filter: drop-shadow(1px 1px 8px  yellow);

}

@media screen and (max-width:1200px) {

    .Header{
        display: none;
    }
    
}