.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  background-color: var(--background-color-card);
  width: 100%;
  position: relative;
  z-index: 0;
  animation: fadeIn 1s ease backwards;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.project-card{
  height: 100%;
  position: relative;
  // display: flex;
  // flex-direction: column;
  justify-content: end;
  align-items: end;
  &:hover {
    .project-card-back {
    position: absolute;  /* not fixed */
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: start;
    justify-content: start;
    background-color: rgb(255, 255, 255); 
    padding: 10px 20px 10px 30px;
    animation: fadeIn 0.6s backwards;
    overflow-y: auto;
    }
}
}
.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  gap: 0px;
}
.title{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  h2{
    color: black;
  }
}


.project-card-back{
    display: none;
}
.project-card-back .tech-badge{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-wrap-mode: wrap;
    text-wrap: wrap;
    gap: 5px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 100%;

}
.project-card-back h2{
    font-family: "lexend", serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2px;
    padding: 0;
}
.project-card-back p{
    font-family: "Lexend", serif;
    font-size: 14px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 2px;
    padding: 0;
}
.image{
    display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: none;
}
.tech{
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: rgba(98, 0, 128, 0.582);
    padding: 3px 12px 3px 12px;
    border-radius: 20px;
    font-size: 16px;
    margin: 6px 0px 10px 0px;
    text-wrap-mode: wrap;
}


