.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0px auto;
    width: 60%;
    z-index: 0;
    position: relative;
    /* margin-bottom: 200px; */
    
}
#projects{
    scroll-margin-top:120px;
    transition: all 10s ;
}
.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    
}
.projects::after{
    display:block;
    z-index: -1;
    content: "PROJECTS";
    color:var(--side-text);
    font-family:"lexend";
    width: fit-content;
    font-size: 280px;
    /* font-weight: 200; */
    opacity: 1;
    font-weight: 700;
    position: absolute;
    top: 45%;
    left: 0%;
    translate: -55% -0% ;
    transform: rotate(270deg);
    animation-name: slideIn3;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}


@keyframes slideIn3 {
    0%{
        opacity: 0;
        transform: rotate(270deg) translateY(0%) translateX(-20%) 
    }
    100%{
        opacity:1;
        transform: rotate(270deg) translateY(0%) translateX(0%) ; 
    }
}

@media screen and (max-width:1200px){
    .projects-container{
        width: 90%;
    }
    .projects{
        display: flex;
        flex-direction: column;
    }
    .projects::after{
        display: none;
    }
}