@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logo-container{
  width:"100%";
  // overflow:"hidden";
  margin-top:10px;
  display:"flex";
  flex-direction:"column";
  justify-Content:"center";
  align-Items:"center";
  animation: fadeIn 3s backwards;
  animation-timeline: view();
  animation-range: entry 0% cover 90%;
}
.logo-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.logos {
    width: 80%;
    // overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 20px 0;
}
.logo_items {
  display: inline-flex;
  animation: slide 35s linear infinite;
  
}
.logo_items_reverse {
  display: inline-flex;
  animation: slide 35s linear infinite;
 animation-direction: reverse;
}

.logos:hover .logo_items {
  animation-play-state: paused;
  
}
.logos:hover .logo_items_reverse {
  animation-play-state: paused;
  
}

.logo_items i {
  font-size: 50px;
  margin: 0 40px;
  color: var(--text-color-purpleDark2);
  transition: transform 0.3s ease;
  opacity: 0.9;
}
.logo_items_reverse i {
  font-size: 60px;
  margin: 0 40px;
  opacity: 0.9;
  color: var(--text-color-purpleDark2);
  transition: transform 0.3s ease;
}

.logo_items i:hover {
  opacity: 1;
  transform: scale(1.3);
  color: var(--text-color-purpleDark2);
}
.logo_items_reverse i:hover {
  opacity: 1;
  transform: scale(1.3);
  color: var(--text-color-purpleDark2);
}

 .tech{
  text-align: center;
  width: 90%;
  font-size: 30px;;
  color:white
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}