
.but{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.gpt-button{
    position: relative;
    bottom: 50px;
    right: 50px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: rgba(28, 3, 43, 0.918);
    border-radius: 50%;
    // background: var(--bg-color);
    color:var(--text-color);
    font-family: "lexend",serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color:rgba(28, 3, 43, 0.26) ;
    }
    
    &:after, &:before{
        z-index: -1;
        content:"";
        position: absolute;
        border-radius: 50px;
        width: 100%;
        height: 100%;
        top: 50%;
        left:50%;
        translate: -50% -50%;
        padding: 5px;
        background-image:conic-gradient(from var(--angle), #df23f8,#8a10fd,#0547fc,#df23f8); 
        animation: spinBorder 3s linear infinite;
    }
}
.chatBox{
    background: rgb(0, 0, 0);
    width: 400px;
    height: 600px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s backwards;
    border: 1px solid rgba(255, 255, 255, 0.411);
    padding: 10px;
    .text{
        height:85% ;
        background-color: rgba(0, 0, 0);
        position: relative;
        padding: 5px 0px 50px 0px;
        border-radius: 20px 20px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-items: start;
        justify-content: start;
        align-items: start;
    }
    .head{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-left: 20px;
        margin-top: 10px;
    }
   
    .chatbox-header-text{
        color: rgb(255, 255, 255);
        width: fit-content;
        height: fit-content;
        margin: 0;
        font-size: 24px;
        font-family: "lexend";
        font-weight: 200;
    }
    .intro{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0px 20px;
        h1{
            font-size: 18px;
        }
        p{
            font-size: 12px;
        }
        .promptBox{
            width: 80%;
            padding:8px;
            background-color: transparent;
            color: white;
            margin-bottom: 10px;
            border: solid 1px rgba(255, 255, 255, 0.596);
            border-radius: 10px;
            &:hover{
                background-color: rgba(173, 173, 173, 0.219);
            }
        }
    }
    .messages{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        justify-content: start;
        height: 100%;
        margin-top: 20px;
        padding: 6px 20px;
        scrollbar-width: none;
    }
    .bottom{
        display: flex;
        height: 15%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        // padding: 20px;
    }
    .input{
        width: 80%;
        height: 60%;
        border-radius: 15px 15px 15px 15px;
        background-color: rgba(3, 3, 3, 0.219);
        padding: 10px;
        color: white;
        border: 1px solid white;
        &::placeholder{
            color: rgba(255, 255, 255, 0.822);
        }

    }
    .Send{
        width: fit-content;
        height: 60%;
        border-radius: 20%;
        padding: 20px;
        border: none;
        background-color: rgb(10, 10, 10);
        position: relative;
        transition: all 0.5s ease-in-out;
        &:hover{
            background-color: rgb(19, 19, 19);
            color: black;
        }
         &:after, &:before{
        z-index: -1;
        content:"";
        position: absolute;
        border-radius: 20%;
        width: 100%;
        height: 100%;
        top: 50%;
        left:50%;
        translate: -50% -50%;
        padding: 2px;
        filter: blur(2px);
        background-image:conic-gradient(from var(--angle), #df23f8,#8a10fd,#05dffc,#df23f8); 
        animation: spinBorder 3s linear infinite;
    }

    }
    .minimize{
        position: absolute;
        top: 15px;
        background-color: transparent;
        border: solid 1px rgba(255, 255, 255, 0.596);
        right: 15px;
        padding: 7px 6px;
        width: fit-content;
        // border: none;
        border-radius: 30%;

    }
    .clear{
        position: absolute;
        bottom: 15px;
        background-color: transparent;
        border: solid 1px white;
        left: 50%;
        padding: 7px 6px;
        width: fit-content;
        border: none;
        border-radius: 20%;
        transition: all 0.6s ease-in-out;
        &:hover{
            background-color: rgba(109, 2, 2, 0.822);
            
        }

    }
}
.message-system ,
.message-user
{
    color: black;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 300;
    font-family: "lexend";
    
}
.message-system{

    background-color: rgb(67, 85, 245);
    align-self: start;
  
    
}
.message-user{

    background-color: rgb(162, 0, 255);
    align-self: end;
 
    
}